{% extends 'pages/base.html'%}
{% load staticfiles %}



{% block body_block%}
<div class="jumbotron" align="center">
  <div class="card" style="max-width:700px;" align="left">
    <h5 class="card-header" style="background-color:#144963; color:white;max-width:700px;align:center">Sudoku</h5>
    <div class="card-body" style="background-color:white; max-width:700px;">
      <h5 class="card-title">Sudoku : Increased your concentration and cognitive skills</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="{% url 'sudoku:playsudoku' level='1' %}" class="btn btn-primary">Play Sudoku Here</a>
    </div>
  </div>
</div>
<div class="jumbotron" align="center">
  <div class="card" style="max-width:700px;" align="left">
    <h5 class="card-header" style="background-color:#144963; color:white;max-width:700px;align:center">Master Mind</h5>
    <div class="card-body">
      <h5 class="card-title">Master Mind : A game for potential spies</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="{% url 'mastermind:playmastermind' %}" class="btn btn-primary">Play Master Mind Here</a>
    </div>
  </div>
</div>








{% endblock %}
