{% extends "pages/base.html" %}
{%load bootstrap4 %}


{% block body_block %}



<div class="jumbotron" align="center" style="max-height:800px; min-height:600px;">
  <div class="card" style="max-width:500px;" align="left">
    <h5 class="card-header" style="background-color:#144963; color:white;max-width:500px;align:center">Login</h5>
    <div class="card-body" style="background-color:white; max-width:500px;">
      <form class=""  method="POST" style="margin-top:40px; margin-top:0px;">
        {% csrf_token %}
        {%bootstrap_form form%}
      <input class="btn btn-info btn-sm" type="submit" name="" value="Login">
      <input style="max-width:80px;" class="btn btn-danger btn-sm" type="text" name="" value="Cancel">
      </form>


    </div>
  </div>
</div>




{% endblock %}
