{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block body_block%}

    <div class="container-fluid">

      <div class="row">

    <div class="col-md-2" style="background-color: #eceeef; width:640px;" >
        {# <h5>Configurations! You have successfully completed</h5> #}
      <div class="container" style="margin-top:50px;">
        <h4> Sudoku {{level}}#{{id}}</h4>

        <div class="container" style="margin-top:120px">
          <button id="hard" class= "btn " style="background-color: #a83c32; color:white;width:100px; " type="button" name="button">Hard</button>
          <p></p>
          <button id="normal" class= "btn btn-warning" style="width:100px;" type="button" name="button">Normal</button>
          <p></p>
          <button id="easy" class= "btn btn-primary" style=" color:white;width:100px;" type="button" name="button">Easy</button>


        </div>

        <ul style="margin-left:-50px;margin-top:50px;">
          <input type="checkbox" name="cb" value="Error" class="cb1">
          <label for="cb">   Notify wrong input</label>
        </ul>
          </div>
      </div>


    <div class="container col-md-6" style="margin-left:0px;  background-color:#eceeef;" >
      <div class="container" align = "center" >

        <div class="jumbotron col-md-16"  >
          {% if sudoku_board %}
            <table id="sudoku">
              {% for element in sudoku_board%}
              <tr>
                {% for item in element%}
                  <td>
                    {% if item == 0 %}
                    <input id="sdk" type="text" onKeyDown="validateEntry()" value=""
                      maxlength="1"

                      class="sudoku-blank"
                       name="" value="">
                    {% else %}
                    <input id="sdk" type = "text" disabled
                    class = "sudoku-full"
                    name="" value="{{item}}">
                    {% endif %}
                  </td>

                {% endfor %}
              </tr>
              {% endfor %}
            </table>
            {% endif %}
        </div>


      </div container col-md-6>



    </div row>
    <div class="container col-md-4" style="margin-left:0px;  background-color:#eceeef;">
          <div class="container" style="margin-top:100px;">
            {% if nums %}
            <table>
              <tr>
                  {% for key,val in nums %}
                    <td><button style="width:35px; background-color:lightgreen; border:1px solid black; border-radius:5px;" type="button" name="button"><h4>{{key}}</h4>{{val}}</button> </td>
                  {% endfor %}
              </tr>


            </table>
              <h5 id="congo">Congratulations! You have successfully completed</h5>
              <div class="jumbotron" style=" margin-left:-20px;">
                <table>
                  <tr>
                    <td><h6>Statistics:</h6></td>
                    <td><p></p></td>


                  </tr>
                  <tr>

                    <td><h6 id="timer"></h6></td>
                  </tr>
                </table>
                <div class="container" >
                  <div class="container">
                    {# <script src="https://www.powr.io/powr.js?platform=html"></script><div class="powr-countdown-timer" id="55e68507_1570983583"></div> #}

                  <div class="container" style="margin-top:200px; margin-left:0px;min-width:400px;">
                    <button class="btn btn-success" type="button" id="new">New Game</button>

                    <button class="btn btn-warning" type="button" id="reset">Reset</button>

                    <button class="btn btn-danger" type="button" id="cancel">Cancel </button>
                  </div>
              </div>





            </div>
            {% endif %}
          </div>
    </div>
  </div>
</div>


  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">

  var main_board = {{main_board}}
  var s_board = {{sudoku_board}}
  var table=$('table#sudoku tr');
  var board_element=$('input#sdk');
  var wrong = 0;
  var timer=$('h6#timer');
  $('h5').hide();

$('.cb1').click(function(e)
{
  //var blank_color = lightgray;
  if($('.cb1').prop('checked'))
  {

    for (r=0;r<main_board.length;r++)
    {
      for(c=0;c<main_board.length;c++)
      {

            if(board_element.eq(r*9+c).val()!="")
            {
                          if(main_board[r][c]!=board_element.eq(r*9+c).val())
                          {
                              board_element.eq(r*9+c).css('color','red');
                              console.log("mb:"+main_board[r][c]);
                              console.log(r,c);
                              console.log("but:"+$('input').eq(r*9+c).val());

                          }
                          else
                          {
                            board_element.eq(r*9+c).css('color','blue');
                          }
            } //if('input')

      }// endfor for(c=0;c<main_board.length;c++)
    }//for (r=0;r<main_board.length;r++)
  }//if($('.cb1').prop('checked'))
    else
    {
      for (r=0;r<main_board.length;r++)
      {
        for(c=0;c<main_board.length;c++)
        {

              if(board_element.eq(r*9+c).val()!="")
              {
                board_element.eq(r*9+c).css('color','black');

              }
              else
              {
              board_element.eq(r*9+c).css('color','transparent');
              }

        }//for(c=0;c<main_board.length;c++)

    }//for (r=0;r<main_board.length;r++)

  }//else

})

$('input').keyup(function(e)
{


     if (gameStillOn())
     {
       c=($(e.target).closest('td').index());
       r=($(e.target).closest('tr').index());
       v = this.value;

       if($('.cb1').prop('checked'))
         {

                 if (main_board[r][c] != v)
                 {
                   $(e.target).css('color','red');
                   wrong++;
                 } //endif
                 else
                 {
                   $(e.target).css('color','green');

                 }//endelse

         }


     }
     else
     {
       $('td').css('background-color','green')
       $('h5').show();
       $('.cb1').hide();

     }






})//event key up

function gameStillOn()
{
  for(var r = 0; r<main_board.length; r++)
  {
    for(var c = 0; c<main_board.length; c++)
    {
      t=r*9+c;
      cell = board_element.eq(r*9+c).val();
      // console.log("cell:" + r + ","+c+","+t+","+cell);

      if (board_element.eq(r*9+c).val() == "")
      {
        return true;
      }
      else if (board_element.eq(r*9+c).val()!=main_board[r][c])
      {
        return true;
      }

    }
  }
  return false;
}



$('#reset').click(function()
{

  var result = confirm(" Are you sure to reset the game? ")

  if(result==true)
  {
            for (r=0;r<main_board.length;r++)
            {
              for(c=0;c<main_board.length;c++)
              {
                if(s_board[r][c]!=0)
                {
                  board_element.eq(r*9+c).val(s_board[r][c]);

                }

                else
                {
                  board_element.eq(r*9+c).val("");
                }
              }
            }

  }


})


$('#new').click(function()
{
  var result = confirm(" Are you sure to restart the game? ")

      if(result == true)
      {
        window.location.href = "{% url 'sudoku:playsudoku' level=lev %}"
      }
      // else {
      //   console.log("sorry");
      // }

})

$('#cancel').click(function()
{
  var result = confirm(" Are you sure to restart the game? ")

      if(result == true)
      {
        window.location.href = "{% url 'index' %}"
      }
      // else {
      //   console.log("sorry");
      // }

})

$('#hard').click(function()
{
  var result = confirm(" Are you sure to restart a harder  game? ")

      if(result == true)
      {
        window.location.href = "{% url 'sudoku:playsudoku' level='2' %}"
      }
      // else {
      //   console.log("sorry");
      // }

})
$('#normal').click(function()
{
  var result = confirm(" Are you sure to restart the game? ")

      if(result == true)
      {
        window.location.href = "{% url 'sudoku:playsudoku' level='1' %}"
      }
      // else {
      //   console.log("sorry");
      // }

})
$('#easy').click(function()
{
  var result = confirm(" Are you sure to restart  an easier  game? ")

      if(result == true)
      {
        window.location.href = "{% url 'sudoku:playsudoku' level='0' %}"
      }
      // else {
      //   console.log("sorry");
      // }

})

function validateEntry() {
    var e = event || window.event;  // get event object
    var key = e.keyCode || e.which; // get key cross-browser

    if (key < 49 || key > 57) { //if it is not a number ascii code
        //Prevent default action, which is inserting character
        if (e.preventDefault) e.preventDefault(); //normal browsers
            e.returnValue = false; //IE
    }
}


</script>

{% endblock %}
